.navbar {
    list-style: none;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1fbff;
}

.navbar a {
    flex: 1;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    /*border: 2px solid #bfebf3;
    border-radius: 4px;*/
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #bfebf3;
}

.navbar a.active {
    background-color: #bfebf3;
    border-color: #9be0ec;
    color: black;
}

/* Media query para tablets (por exemplo, iPads em modo paisagem) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */

}

/* Media query para desktops */
@media (min-width: 1025px) {
    /* Estilos específicos para desktops */

}
