body{
    font-family: Arial, sans-serif;
    background-color: #e1fbff;
}

.score{
    display: flex;
    justify-content: space-between;
}

.score-itens{
    margin-top: 1%;
    padding: 5px;
    font-weight: bold;
}


h1{
    margin-top: 10px;
}

.question {
    background-color: #effafc;
    max-width: 400px;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    text-align: justify;
}

.question p {
    text-align: justify;
}

.answers-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.answers {
    width: 97%;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

/* Media query para tablets (por exemplo, iPads em modo paisagem) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */
    
}

/* Media query para desktops */
@media (min-width: 1025px) {
    /* Estilos específicos para desktops */
    .question {
        max-width: 700px;
    }
}