body {
  background-color:aquamarine;
}

h1{
    text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  border: 2px solid #3498db;
  border-radius: 8px;
  padding: 10px;
  background-color: antiquewhite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: auto;
  margin: 0 auto;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  font-size: 10px;
  width: 70%;
  background-color: #fbfcfc;
}

.form-group button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #d7f4f4;
    transition: background-color 0.3s;
    cursor: pointer;
}

.form-group button:focus{
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 52, 219, 0.5);
}

.items-escolha {
    margin: 10px;
}

.items-escolha label{
    padding: 5px;
}
