h2, h3, h4{
    text-align: center;
}

.custom-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: antiquewhite;
}

.table-container{
    overflow-y: auto;
    overflow-x: auto;
    max-height: 600px;
    margin: 20px;
    -webkit-overflow-scrolling: touch;
}

.custom-table th,
.custom-table td {
    padding: 5px;
    font-size: 10px;
    border: 1px solid black;
}

.items-escolha {
    margin: 10px;
}

.items-escolha label{
    padding: 5px;
}

/* Media query para tablets (por exemplo, iPads em modo paisagem) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */

}

/* Media query para desktops */
@media (min-width: 1025px) {
    /* Estilos específicos para desktops */
    .custom-table th,
    .custom-table td {
        font-size: 14px;
    }
}
