.answers-button {
    background-color: #9ddee9;
    color: black;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answers-button-pressed-win{
    background-color: #228b22;
    color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answers-button-pressed-lose{
    background-color: #900020;
    color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Media query para tablets (por exemplo, iPads em modo paisagem) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */
    
}

/* Media query para desktops */
@media (min-width: 1025px) {
    /* Estilos específicos para desktops */
    .answers-button {
        width: 40%;
    }
    .answers-button-pressed-lose {
        width: 40%;
    }
    .answers-button-pressed-win {
        width: 40%;
    }
}