.timer {
    font-size: 14px;
    margin-left: 5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 5px solid #6d7c7f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    bottom: 10px;
    left: 80px;
}
